* {
  box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.top-block {
  width: 100%;
  background-image: url("../img/top_block_back.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  .top-block__content {
    padding-top: 46.86px;
    padding-left: 46.86px;
    padding-bottom: 289.74px; }

.header {
  display: flex;
  justify-content: space-between;
  height: 39.6px;
  width: 74%; }

.logo {
  max-width: 177.54px; }
  .logo__image {
    width: 100%; }

.menu {
  width: 433.62px; }
  .menu__list {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    list-style-type: none;
    margin: 12px 0; }
  .menu__item {
    text-transform: uppercase;
    font-size: 14.52px;
    font-style: italic;
    font-weight: bold;
    color: #fff; }
    .menu__item:first-child {
      color: #f1ac11;
      padding-bottom: 11.88px;
      border-bottom: 2px solid #f1ac11; }

.message-wrapper {
  max-width: 1170.18px;
  height: 173.58px;
  margin-top: 177.54px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.button {
  padding: 7.26px 26.4px;
  background-color: #f1ac11;
  font-size: 7.92px;
  border: 0;
  border-radius: 3.5px; }

.message {
  display: flex;
  justify-content: center;
  width: 21%;
  height: 78%;
  background-image: url("../img/message.png");
  background-size: cover;
  opacity: 0.4; }
  .message__center {
    align-self: flex-start;
    opacity: 0.85; }
  .message__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 25.08px;
    font-weight: bold;
    margin: 0;
    padding-top: 26.4px;
    padding-bottom: 14.52px; }
  .message__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 85.8px;
    max-width: 56%; }
  .message__button {
    max-width: 93.06px;
    text-transform: uppercase;
    text-align: center; }
    .message__button--third {
      padding: 7.26px 17.82px; }

.daily-menu-block {
  display: flex;
  padding-top: 53.46px;
  padding-left: 26.5%; }

.daily-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 668.58px; }

.daily-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 594px; }
  .daily-menu__title {
    display: block;
    margin: 0;
    padding-left: 220.44px;
    font-size: 27.72px;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
    color: #F1AC11;
    padding-bottom: 27.06px;
    padding-right: 174.9px; }
  .daily-menu--vegan {
    width: 594px;
    font-size: 9.24px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase; }
  .daily-menu-item {
    display: flex;
    align-items: center;
    max-width: 269.94px;
    max-height: 79.2px;
    padding-top: 26.4px; }
    .daily-menu-item__img {
      max-width: 52.8px;
      flex-shrink: 0; }
    .daily-menu-item__content {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 20.46px;
      max-width: 198px; }
    .daily-menu-item__title {
      margin: 0;
      padding-top: 1.32px;
      font-size: 11.88px;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .daily-menu-item__title:after {
        content: ".........................................."; }
    .daily-menu-item__price {
      position: absolute;
      right: 0;
      top: 0;
      width: 29.7px;
      height: 18.48px;
      background-image: url("../img/price_back.png");
      background-size: cover;
      padding-top: 1.32px;
      text-align: center;
      font-size: 11.88px; }
    .daily-menu-item__subtitle {
      display: flex;
      justify-content: space-between;
      width: 198px;
      padding-top: 9.9px;
      font-size: 8.58px;
      font-style: italic;
      font-weight: normal;
      text-transform: uppercase;
      color: #BCBCBC; }
    .daily-menu-item__numbers {
      flex-shrink: 0; }
    .daily-menu-item__alergens {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .daily-menu-item__alergens:after {
        content: ".................................................................................."; }

.daily-slider {
  display: flex;
  align-items: center;
  max-height: 314.82px;
  padding-top: 64.68px;
  padding-bottom: 51.48px; }
  .daily-slider__arrow {
    font-size: 9.24px;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
    color: #f1ac11;
    padding-left: 15.18px; }
  .daily-slider-content {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/daily_slider_content__back.png");
    background-size: cover;
    width: 594.66px;
    height: 198.66px; }
    .daily-slider-content__img {
      max-width: 297.66px; }
    .daily-slider-content__text {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 316.8px;
      align-self: center;
      max-width: 537.24px; }
    .daily-slider-content__subtitle {
      margin: 0;
      font-size: 7.92px;
      font-style: italic;
      font-weight: normal;
      text-transform: uppercase;
      color: #f1ac11;
      padding-bottom: 13.2px; }
    .daily-slider-content__title {
      margin: 0;
      font-size: 15.84px;
      font-style: italic;
      font-weight: normal;
      text-transform: uppercase;
      padding-bottom: 17.16px; }
    .daily-slider-content__paragraph {
      margin: 0;
      font-size: 9.24px;
      font-style: italic;
      font-weight: normal;
      color: #D4D4D4;
      padding-bottom: 15.18px; }
    .daily-slider-content__button {
      font-size: 9.24px;
      font-style: italic;
      text-transform: uppercase;
      padding-left: 8.58px;
      padding-right: 8.58px; }

.about-us {
  padding: 53.46px 446.16px;
  background-image: url("../img/about_us__back.png");
  background-size: cover; }
  .about-us-message {
    max-width: 374.88px;
    padding: 13% 3.5%;
    background-image: url("../img/about_us_message__back.png");
    background-size: cover; }
    .about-us-message__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .about-us-message__title {
      margin: 0;
      font-size: 18.48px;
      font-style: italic;
      font-weight: normal;
      text-transform: uppercase;
      padding-bottom: 26.4px; }
    .about-us-message__info {
      display: flex;
      justify-content: space-between;
      width: 285.12px;
      padding-bottom: 25.74px; }
    .about-us-message__logo {
      max-width: 147.84px; }
    .about-us-message__text {
      max-width: 91.08px;
      font-size: 11.88px;
      font-style: italic;
      font-weight: bold; }
    .about-us-message__button {
      font-size: 9.24px;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
